#clockContainer{
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    height: 40vw;
    width: 40vw;

}

#hour , #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    top: 25%;
    left: 49.5%;
    height: 26%;
    width: 2%;
    opacity: 0.8;

}
#minute{
    height: 34%;
    width: 1.5%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
    
}
#second{
    height: 40%;
    width: 0.7%;     
    top: 11%;
    left: 49.5%;
    opacity: 0.8;

}